    <div class="container">
        <div class="mypage-header">
           <div class="row">
                    <h1>マイページ</h1>
            </div>
        </div>
    </div>

<hr class="mypage-border">

<div class="container">

  <%= render 'layouts/flash' %>

    <div class="row profile-box">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @user.account_id %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.fullname %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @user.fulladdress %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
      </table>
    </div>
</div>

<hr class="mypage-border">