<div class="container">

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <div class="row justify-content-md-center" style="background-color: #eae6e4;">
    <h2 class="text-center">マイページ</h2>
  </div>
    <div class="row profile-box">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @user.account_id %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.fullname %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @user.fulladdress %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
      </table>
    </div>
</div>