<br>
<br>
    <div class="container">
        <div class="mypage-header">
           <div class="row">
            <div class="col">
              <h1 class="text-left">マイページ</h1>
            </div>
            <div class="col text-right">
              <%= link_to "登録情報を編集する", edit_user_path(@user), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
    </div>

<hr class="mypage-border">
<br>
<br>

<div class="container">

  <%= render 'layouts/flash' %>

    <div class="row profile-box">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @user.account_id %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.fullname %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @user.fulladdress %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
      </table>
    </div>
</div>

<br>
<br>

<hr class="mypage-border">

<br>
<br>

<div class="container">
  <div class="row">
    <h3>登録住所&nbsp;&nbsp;&nbsp;</h3>
    <%= link_to "一覧を見る", destinations_path, class: "btn btn-info" %>
  </div>
  <br>
  <div class="row">
    <h3>注文履歴&nbsp;&nbsp;&nbsp;</h3>
    <%= link_to "一覧を見る", root_path, class: "btn btn-info" %>
  </div>
</div>
<br>
<br>