<div class="container">

<%= render 'layouts/flash' %>

  <div class="notices-important">
    <ul class="notices">
      <li class="notice_list text-white lead" style="background-color: #e61717;">　2020.09.04 台風の影響によるお荷物のお届けについて</li>
      <li class="notice_list text-white lead" style="background-color: #e61717;">　2020.04.12 感染症対策のリモートワーク体制によるお問い合わせ方法の変更について </li>
    </ul>
  </div>
  <div class="row top-content">
    <div class="col-3">
      <div class="sidebar_content">
        	<ul class="list-group">
            <li class="list-group-item list-group-item-primary text-center"><h5>エリア検索</h5></li>
            <li class="list-group-item text-center"><h6>北海道</h6></li>
            <li class="list-group-item text-center"><h6>東北</h6></li>
            <li class="list-group-item text-center"><h6>北関東</h6></li>
            <li class="list-group-item text-center"><h6>首都圏</h6></li>
            <li class="list-group-item text-center"><h6>北陸</h6></li>
            <li class="list-group-item text-center"><h6>甲信越</h6></li>
            <li class="list-group-item text-center"><h6>東海</h6></li>
            <li class="list-group-item text-center"><h6>近畿</h6></li>
            <li class="list-group-item text-center"><h6>山陽・山陰</h6></li>
            <li class="list-group-item text-center"><h6>四国</h6></li>
            <li class="list-group-item text-center"><h6>九州</h6></li>
            <li class="list-group-item text-center"><h6>沖縄</h6></li>
          </ul>
      </div>
      <div class="sidebar_content">
        	<ul class="list-group">
            <li class="list-group-item list-group-item-warning text-center"><h4>ジャンル検索</h4></li>
            <li class="list-group-item text-center"><h5>日用品</h5></li>
            <li class="list-group-item text-center"><h5>ファッションアイテム</h5></li>
            <li class="list-group-item text-center"><h5>食品</h5></li>
            <li class="list-group-item text-center"><h5>美容関係</h5></li>
          </ul>
      </div>
    </div>
    <div class="col-9">
      <%= image_tag 'sale02.jpeg', class: "top-image"%>
      <div class="recommend-item">
        <h2 class="text-center">話題の商品</h2>
        <br>
        <h5 class="text-center">今がアツい!!注目を集めている話題の商品はこちら!!</h5>
        <br>
        <div class="row">
          <div class="col">
            <%= image_tag 'beef01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">松坂牛ローストビーフ</h6>
          </div>
          <div class="col">
            <%= image_tag 'beer02.jpeg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">富良野ビール</h6>
          </div>
          <div class="col">
            <%= image_tag 'tokkuri01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">津軽産とっくり</h6>
          </div>
          <div class="col">
            <%= image_tag 'camp01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">埼玉キャンプ満喫セット</h6>
          </div>
        </div>
      </div>
      <div class="hot-topic">
        <h2 class="text-center">オススメ特集</h2>
        <br>
        <h5 class="text-center">日本全国からご当地ならではの逸品を紹介します！！</h5>
        <br>
        <div class="row">
          <div class="col">
            <%= image_tag 'miura01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">三浦半島特集!!</h6>
          </div>
          <div class="col">
            <%= image_tag 'kaisen01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">海鮮BBQ特集!!</h6>
          </div>
          <div class="col">
            <%= image_tag 'veg01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">高級野菜でスムージー</h6>
          </div>
          <div class="col">
            <%= image_tag 'syokubutu01.jpg', class: "top-image"%>
            <div class="dropdown-divider"></div>
            <h6 class="text-center">観葉植物セット</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>