<div class="container">

<%= render 'layouts/flash' %>

  <div class="row top-content">
    <div class="col-3">
      <%= render 'shared/sidebar', {categories: @categories, areas: @areas} %>
    </div>
    <div class="col-9">
      <div class="welcome">
        <br>
        <br>
        <h1 class="text-center welcome-message title"><span class="gimmick">&nbsp;HELLO&nbsp;</span>&nbsp;JAPAN&nbsp;</h1>
        <br>
        <h1 class="text-center welcome-message">「日本の楽しい・美しい・美味しいを届ける」</h1>
        <br>
        <h1 class="text-center welcome-message">ONK SHOPPINGへようこそ!!</h1>
        <br>
        <br>
      </div>
      <div class="recommend-item">
        <h2 class="text-center">話題の商品</h2>
        <br>
        <h5 class="text-center">今がアツい!!注目を集めている話題の商品はこちら!!</h5>
        <br>
        <div class="row">
          <% @products.shuffle.first(3).each do |product| %>
            <div class="col">
              <div class="card products-box">
                <%= link_to product_path(product) do %>
                  <% if product.image? %>
                    <%= image_tag product.image.url, :size => "280x210", class: "top-image" %><br>
                  <% else %>
                    <%= image_tag 'noimage.jpg', :size => "280x210", class: "top-image" %><br>
                  <% end %>
                <% end %>
                <p class="h5"><%= product.name %></p>
                <div><h5><%= number_to_currency(product.price_tax, :format => "%u%n", :unit => "￥", :precision => 0) %><span class="h6">(税込)</span></h5></div>
                <p><span class="badge badge-secondary"><%= product.category.name %></span>
                <span class="badge badge-secondary"><%= product.area.name %></span></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="hot-topic">
        <h2 class="text-center">グルメ特集</h2>
        <br>
        <h5 class="text-center">日本全国からご当地ならではのグルメを紹介します！！</h5>
        <br>
        <div class="row">
          <% @gourmet.each do |gourmet| %>
            <div class="col">
              <div class="card products-box">
                <%= link_to product_path(gourmet) do %>
                  <% if gourmet.image? %>
                    <%= image_tag gourmet.image.url, :size => "280x210", class: "top-image" %><br>
                  <% else %>
                    <%= image_tag 'noimage.jpg', :size => "280x210", class: "top-image" %><br>
                  <% end %>
                <% end %>
                <p class="h5"><%= gourmet.name %></p>
                <div><h5><%= number_to_currency(gourmet.price_tax, :format => "%u%n", :unit => "￥", :precision => 0) %><span class="h6">(税込)</span></h5></div>
                <p><span class="badge badge-secondary"><%= gourmet.category.name %></span>
                <span class="badge badge-secondary"><%= gourmet.area.name %></span></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>