    <div class="container">
        <div class="mypage-header">
           <div class="row">
              <h1><%= @user.fullname %>さんの登録情報</h1>
            </div>
        </div>
    </div>

<hr class="mypage-border">

<div class="container">

  <%= render 'layouts/flash' %>

    <div class="row profile-box">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @user.account_id %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @user.fullname %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @user.fulladdress %></td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td><%= @user.nickname %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @user.is_valid == true %>
              <h4><span class="badge badge-primary">有効会員</span></h4>
            <% else %>
              <h4><span class="badge badge-danger">退会済み</span></h4>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

  <div class='row'>
    <div class="col">
      <%= link_to '管理者権限で登録情報を編集する', edit_admin_user_path(@user.id), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to '会員情報一覧に戻る', admin_users_path, class: 'btn btn-secondary' %>
    </div>
    <%#= link_to '注文履歴一覧', admin_orders_path(member_id: @member.id), class: 'btn btn-default' %>
  </div>

</div>

<hr class="mypage-border">