<div class="container">

<%= render 'layouts/flash' %>

  <div class="row">
    <div class="col-3">
      <%= render 'shared/sidebar', {categories: @categories, areas: @areas} %>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-8">
          <figure class="image">
            <% if @product.image? %>
              <%= image_tag @product.image.url, class: "top-image" %><br>
            <% else %>
              <%= image_tag 'noimage.jpg' %><br>
            <% end %>
          </figure>
        </div>
        <div class="col-4">
          <h4><span class="badge badge-danger"><%= @product.category.name %></span>
          <span class="badge badge-danger"><%= @product.area.name %></span><br></h4>
          <h2> <%= @product.name %> </h2>
          <br>
          <h6> <%= safe_join(@product.introduction.split("\n"), tag(:br)) %></h6>
          <br>
          <div><h3><%= number_to_currency(@product.price_tax, :format => "%u%n", :unit => "￥", :precision => 0) %><span class="h6">(税込)</span></h3></div>
        </div>
      </div>
      <div class="row">
        <div class="col text-left">
          <%= link_to '商品一覧に戻る', products_path, class: "btn btn-secondary btn-sm" %>
        </div>
        <div class="col　text-right">
          <%= form_for(@cart_product, url: cart_products_path) do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.number_field :quantity, placeholder: "個数選択",class: 'btn btn-outline-primary', min:1 %>
            <%= f.submit 'カートにいれる',class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>