<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/sidebar', {categories: @categories, areas: @areas} %>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-8">
          <figure class="image">
            <% if @product.image? %>
              <%= image_tag @product.image.url, class: "top-image" %><br>
            <% else %>
              <%= image_tag 'noimage.jpg' %><br>
            <% end %>
          </figure>
        </div>
        <div class="col-4">
          <span class="badge badge-danger"><%= @product.category.name %></span>
          <span class="badge badge-danger"><%= @product.area.name %></span><br>
          <br>
          <h2> <%= @product.name %> </h2>
          <br>
          <h6> <%= safe_join(@product.introduction.split("\n"), tag(:br)) %></h6>
          <br>
          <div><h3><%= number_to_currency(@product.price_tax, :format => "%u%n", :unit => "￥", :precision => 0) %><span class="h6">(税込)</span></h3></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          カート機能
        </div>
      </div>
    </div>
  </div>
</div>