<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #eae6e4;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">株式会社オニキ商事</h5>
        <p>「日本の楽しい・美しい・美味しいを届ける」をスローガンに<br>
        ECサイトONK SHOPPINGを運営しています</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <%# <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul> %>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">リンク</h5>

        <ul class="list-unstyled">
          <li>
            <%= link_to '会社概要', root_path %>
          </li>
          <li>
            <%= link_to '事業一覧', root_path %>
          </li>
          <li>
            <%= link_to '採用情報', root_path %>
          </li>
          <li>
            <%= link_to 'アクセス', root_path %>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to 'ONK Shopping', root_path %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
